<div class="container">
  <div class ="intro">
    <h1>Hi <%= @crew.name %> ! </h1></br>
    <h3>Tell us more about your crew </h3>
  </div>
</div>

<div class="wrapper-form">
  <div class=" container edit-form">
    <%= render 'form' %>
  </div>
</div>

