<div class="container nest_form">
  <div class ="intro">
    <h1>Hi <%= @crew.name %> ! </h1></br>
    <p>Tell us more about your crew </p>
  </div>

  <div class="nest_form">
    <%= render 'form' %>
  </div>

<div class="container">
  <%= link_to "return to your profil", crew_path %>
</div>
</div>
