<div class="container welcome text-center">
      <h1>Welcome home <%= @crew.name %> ! </h1>
</div>


<div class="container text-center link">
  <% if user_signed_in? %>
      <%= link_to "delete my crew", crew_path(@crew), method: :delete, data: { confirm: "Are you sure?" } %></br>
          <%= link_to 'edit', edit_crew_path(@crew) %></br>
          <%= link_to "back to your deck", deck_crew_path(current_user.crew) %></br>

    <% end %>
</div>
