/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Catamaran:100,300,500,700,900");
$base-font: "Catamaran", "Helvetica", "sans-serif";
$header-font: "Amatic SC", "Cursive", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #EC605F;

$brown: #674134;
$dark: #2D221F;
$blue: #4EB8BA;
$yellow: #EFD50A;
$green: #5FC857;
$grey: #EBE8E4;
