.main-container-deck-crew {
  padding: 50px;
}

.container-accordion {
  margin-top: 50px;
  h2 {
  font-weight: 700px;
  font-size: 20px;
  color: $dark;
  }
}

table.table-deck {
 border: solid $green;
}

