.banner-mission{
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-color: rgba(255,255,255,0.8);
  margin-bottom: 100px;
  h2 {
    position: absolute;
    bottom: 70px;
    left: 350px;
    font-family: $header-font;
    font-size: 32px;
    font-weight: 700;
    color: $brand-color;
    margin: 0;
  }
  p {
    position: absolute;
    bottom: 30px;
    left: 350px;
    font-family: $base-font;
    font-weight: 500;
    color: $brand-color;
    margin: 0;
  }
  .logo {
    position: absolute;
    bottom: -50px;
    left: 50px;
  }

  .apply-btn {
    width: 100px;
    height:40px;
    background-color: $brand-color;
    position: absolute;
    bottom: 30px;
    right: 100px;
    .apply {
      color: white;
      font-family: $base-font;
      font-weight: 700;
      line-height: 40px;
    }
  }

  .apply-btn:hover {
    background-color: $brown;
    .apply:hover {
      text-decoration: none;
    }
  }
}


.mission-box {
  width: 100%;
  height: 250px;
  background-color: $green;
  margin-bottom: 10px;
  padding-top: 50%;
  position: relative;
}

.mission-hosting-picture {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.mission-description {
  position: absolute;
  padding: 10px;
}

