<%= simple_form_for :search, :html => { class: 'form-inline' }, :url => missions_path, :method => 'get' do |f| %>
  <%= f.input :address, label: false, :input_html => {:name => "address", value: params[:address]} %>
  <div class="input-group">
    <%= f.input :radius, as: :numeric, label: false, placeholder: 'max distance', :input_html => {:name => "radius", class: 'form-control', value: params[:radius]} %>
    <div class="input-group-addon">km</div>
  </div>
  <%= f.submit 'Go', class: 'btn btn-primary' %>
<% end %>
