<%= simple_form_for(@packer) do |f| %>
  <div class="form-inputss">
    <%= f.input :cv_link ,label: "Link to your CV", placeholder: 'put the link here (linkedin, viadeo...)'%>
  </div>
  <div class="form-actionss">
    <%= f.button :submit %>
  </div>
<% end %>
