<%= simple_form_for(@packer) do |f| %>
  <div class="form-inputss">
    <%= f.input :website ,label: "Your website", placeholder: 'put the link here'%>
  </div>
  <div class="form-actionss">
    <%= f.button :submit %>
  </div>
<% end %>
