
<div class="banner" style="background-image: url('http://res.cloudinary.com/pack-your-skills/image/upload/v1480073054/Website/Home%20Page/Banner_PackyourSkills.jpg')">
  <div class="container">
    <div class="banner-content">
      <h1>TRAVEL THE WORLD & JOIN PROJECTS YOU LOVE<br/>
      OFFER YOUR SKILLS & BE HOSTED IN EXCHANGE</h1>
    </div>
    <%= render 'shared/searching_engine' %>
  </div>
</div>

