
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" data-offset="51">



<div class="banner" style="background-image: url('http://res.cloudinary.com/pack-your-skills/image/upload/v1480073054/Website/Home%20Page/Banner_PackyourSkills.jpg')">
  <div class="container">
    <div class="banner-content">
      <h1>TRAVEL THE WORLD & JOIN PROJECTS YOU LOVE<br/>
      OFFER YOUR SKILLS & BE HOSTED IN EXCHANGE</h1>
    </div>
    <%= render 'shared/searching_engine' %>
  </div>
</div>

<section id="vision" class="section">
          <div class="section-inner">
            <div class="container section-content">
              <div class="row">
                <div class="col-md-12">
                  <div class="section-title text-center">
                    <h3 class='sub-title'>Mission</h3>
                    <h2 class='main-title'>We have a mission</h2>
                  </div>
                  <!-- //.section-title -->
                </div>
                <!-- //.col-md-12 -->
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="text-center">
                    <p class="mission">Our mission is to enable everyone to get involved in projects with positive impact on society, by providing their skills during a trip.</p>
                  </div>
                  <!-- //.section-title -->
                </div>
                <!-- //.col-md-12 -->
              </div>
              <!-- //.row -->
            </div>
            <!-- //.section-content -->
          </div>
          <!-- //.section-inner -->
        </section>
        <!-- //End Vision Section -->

        <!-- Begin What do we do ? -->
        <section id="what-do-we-do" class="section">
          <div class="section-inner">
            <div class="container section-content">
              <div class="row">
                <div class="col-md-12">
                  <div class="section-title text-center">
                    <h3 class='sub-title'>Concept</h3>
                    <h2 class='main-title'>Here is our plan</h2>
                  </div>
                  <!-- //.section-title -->
                </div>
                <!-- //.col-md-12 -->
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="text-center">
                    <p><strong>Pack Your Skills</strong> brings together a Packer and a Crew for the duration of the mission.</p>
                  </div>
                </div>
              </div>

              <!-- //.row -->
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                  <div class="container card">
                    <div class="row">
                      <div class="packers">
                        <div class="col-xs-8">
                          <p><strong>PACKERS</strong> are travelers who wish to be involved in local projects during their trip using their skills in exchange for room and accommodation.</p>
                        </div>
                        <div class="col-xs-4">

                                                    <%= image_tag "packer.png", class: "img-responsive"%>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                  <div class="container card">
                    <div class="row">
                      <div class="hote">
                        <div class="col-xs-4">

                          <%= image_tag "host.png", class: "img-responsive"%>
                        </div>
                        <div class="col-xs-8">
                          <p class="hote"><strong>CREWS</strong> are teams from local initiatives (startups or charities) whose primary mission is to solve a societal issue and who need key skills to develop their activity.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> <!-- //.section-title -->
            </div>
            <!-- //.col-md-12 -->
          </div>
          <!-- //.row -->
        </div>
        <!-- //.section-content -->
        <!-- //.section-inner -->
      </section>
      <!-- //End What do we do Section -->


      <section id="register" class="section section-bgimage-yes">
        <div class="section-inner">
          <div class="section-overlay"></div>

          <div class="container section-content">
            <div class="row">
              <div class="col-md-12">
                <div class="section-title text-center">
                  <h3 class="sub-title">Register</h3>
                  <h2 class="main-title">Be informed when it's ready!</h2>
                </div>
                <!-- //.section-title -->
              </div>
              <!-- //.col-md-12 -->
            </div>
            <!-- //.row -->
            <div class="row">
              <div class="col-md-12">
                <div class="form-respond text-center"></div>
              </div>
              <!-- //.col-md-12 -->
            </div>
            <!-- //.row -->
            <div class="row">
              <form action="//packyourskills.us14.list-manage.com/subscribe/post?u=8c95cf695d48cd7d49d9b5812&amp;id=9a7badbb9b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div class="col-md-5 col-md-offset-1">
                  <div class="form-group">
                    <div class="input-group input-group-lg">
                      <input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL" placeholder="email address" required>
                    </div>
                    <!-- //.input-group -->
                  </div>
                  <!-- //.form-group -->
                </div>
                <div class="col-md-5">
                  <div class="form-group register">
                    <button id="submit" value="Subscribe" name="subscribe" type="submit" class="btn btn-lg btn-rj">Keep me informed</button>
                  </div>
                  <!-- //.form-group -->
                </div>
                <!-- //.col-md-5 -->
              </form>
            </div>
            <!-- //.row -->
          </div>
          <!-- //.section-content -->
        </div>
        <!-- //.section-inner -->
      </section>
      <!-- //End Register Section -->

      <!-- Begin How-Does-It-Work Section -->
      <section id="how-does-it-work" class="section">
        <div class="section-inner">
          <div class="container section-content">
            <div class="row">
              <div class="col-md-12">
                <div class="section-title text-center">
                  <h3 class="sub-title">The journey</h3>
                  <h2 class="main-title">How does it work ?</h2>
                </div>
                <!-- //.section-title -->
              </div>
              <!-- //.col-md-12 -->
            </div>
            <!-- //.row -->
            <div class="row">
              <div class="col-sm-3 col-md-3">
                <div class="funny-boxes float-shadow not-right-column text-center">
                  <span class="funny-boxes-icon">
                    <i class="fa fa-user-secret"></i>
                  </span>
                  <div class="funny-boxes-text">
                    <h4>INTRODUCE<br />YOURSELF</h4>
                    <p>Create your profile, tell us your story and present your magic skills</p>
                  </div>
                  <!-- //.funny-boxes-text -->
                </div>
                <!-- //.funny-boxes -->
              </div>
              <!-- //.col-sm-3 col-md-3 -->
              <div class="col-sm-3 col-md-3">
                <div class="funny-boxes float-shadow not-right-column text-center">
                  <span class="funny-boxes-icon">
                    <i class="fa fa-binoculars"></i>
                  </span>
                  <div class="funny-boxes-text">
                    <h4>FIND<br />YOUR CREW</h4>
                    <p>Explore all the volunteering missions, needed skills, duration and location</p>
                  </div>
                  <!-- //.funny-boxes-text -->
                </div>
                <!-- //.funny-boxes -->
              </div>
              <!-- //.col-sm-3 col-md-3 -->
              <div class="col-sm-3 col-md-3">
                <div class="funny-boxes float-shadow not-right-column text-center">
                  <span class="funny-boxes-icon">
                    <i class="fa fa-american-sign-language-interpreting"></i>
                  </span>
                  <div class="funny-boxes-text">
                    <h4>CHAT AND<br />MATCH</h4>
                    <p>Are you made to work together? Get to know each other better to see if you are.</p>
                  </div>
                  <!-- //.funny-boxes-text -->
                </div>
                <!-- //.funny-boxes -->
              </div>
              <!-- //.col-sm-3 col-md-3 -->
              <div class="col-sm-3 col-md-3">
                <div class="funny-boxes float-shadow not-right-column text-center">
                  <span class="funny-boxes-icon">
                    <i class="fa fa-rocket"></i>
                  </span>
                  <div class="funny-boxes-text">
                    <h4>JUMP<br />ON BOARD</h4>
                    <p>Join your crew for real, do what you're best at, be hosted and enjoy an awesome experience</p>
                  </div>
                  <!-- //.funny-boxes-text -->
                </div>
                <!-- //.funny-boxes -->
              </div>
              <!-- //.col-sm-3 col-md-3 -->
            </div>
            <!-- //.row -->
          </div>
          <!-- //.section-content -->
        </div>
        <!-- //.section-inner -->
      </section>
      <!-- //End Our Services Section -->

      <!-- Begin Survey Section -->
      <section id="survey" class="section section-bgimage-yes">
        <div class="section-inner">
          <div class="section-overlay"></div>
          <div class="container section-content">
            <div class="row">
              <div class="col-md-12">
                <div class="section-title text-center">
                  <h3 class='sub-title'>Survey</h3>
                  <h2 class='main-title'>We have a mission for you</h2>
                </div>
                <!-- //.section-title -->
              </div>
              <!-- //.col-md-12 -->
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="text-center">
                  <p><strong>We are designing the service of our dreams but we would love to hear about yours. Here is a very quick survey to help us understand your desires.</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6 text-center">
                <a href="https://packyourskills.typeform.com/to/fazrMI" target="_blank" class="btn btn-lg btn-rj">Answer as a Packer</a>
              </div>
              <!-- //.col-xs-6 col-sm-6 col-md-3 -->

              <div class="col-xs-12 col-sm-12 col-md-6 text-center">
                <a href="https://packyourskills.typeform.com/to/d5A7ny" target="_blank" class="btn btn-lg btn-rj">Answer as a Crew</a>
              </div>
            </div>
            <!-- //.row -->
          </div>
          <!-- //.section-content -->
        </div>
        <!-- //.section-inner -->
      </section>
      <!-- //End Survey Section -->

  </body>
</html>
