.collapse-style-2 .panel-heading a.collapsed {
  background-color: $dark !important;
}

.collapse-style-2 .panel-heading a {
  color: #ffffff;
  background-color: $green !important;
}

.panel-body {
  margin: 15px;
}

.mission_description {
  margin-bottom: 10px;
  a {
    color: $brand-color;
  }
  a:hover {
    text-decoration: none;
    color: $brown
  }
}

.circle-notif {
  background-color: $green;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  color: white;
  font-size: 15px;
  display: inline-block;
}

.notif {
  display: inline-block;
  margin: 3px;
}
