/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: $dark;
  position: absolute;
  top: 75px;
  width: 20%;
  right:5px;
}
.alert-info {
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid $green;
}
.alert-warning {
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid $brand-color;
}
