.box {
  min-height: 80px;
  height:auto;
  width:100%;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;

  border-radius: 1px;
  background-color:white;

  background-size: cover !important;
  background-position:bottom;

  position: relative;
  align-items: center;
  justify-content: center;
  text-align:center;
  overflow: scroll;
}

.height_80px{
  margin-top:40px;
  height:80px;
  overflow:scroll;
}

.box_link {
  height:100%;
  width:100%;
  text-align:right;
  a {
    background-color: rgba(1,1,1,0);
    color:rgba(1,1,1,0);
    border-radius: 1px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    top: 0px;
    right: 0px;
  }
  a:hover {
    color:rgba(1,1,1,1);
    background-color: rgba(1,1,1,0.4);
  }
  .fa {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}

.action-box {
  height:100%;
  width:100%;
  text-align:center;
  background-color: $brand-color;
  padding-top: 5px;
  margin-bottom: 10px;
  a {
    display: block;
    color: $dark;
    border-radius: 1px;
    font-family: $base-font;
    font-weight: 300;
    font-size: 15px;
  }
  a:hover {
    color: white;
    text-decoration: none;
  }
}

.box_empty{
  position: absolute;
  bottom: 0px;
  left: 0px;
  top: 0px;
  right: 0px;
  padding:3px;
  background-color: rgba(222,222,222,1);
  text-align:center;
}

.box_ratio_1_1_0-75{
  position: relative;
  margin: auto;
  width: 75%; /* desired width */
  .content_box {
    position: absolute;
    bottom: 0px;
    left: 0px;
    top: 0px;
    right: 0px;
    padding:3px;
  }
}

.box_ratio_1_1_0-75:before{
  content: "";
  display: block;
  padding-top: 100%;  /* initial ratio of 1:1*/
}
.box_ratio_1_1{
  position: relative;
  width: 100%; /* desired width */
  .content_box {
    position: absolute;
    bottom: 0px;
    left: 0px;
    top: 0px;
    right: 0px;
    padding:3px;
  }
}

.box_ratio_1_1:before{
  content: "";
  display: block;
  padding-top: 100%;  /* initial ratio of 1:1*/
}

.box_ratio_1_2{
  position: relative;
  width: 100%;   /* desired width */
  .content_box {
    position: absolute;
    bottom: 0px;
    left: 0px;
    top: 0px;
    right: 0px;
    padding:3px;
  }
}

.box_ratio_1_2:before{
  content: "";
  display: block;
  padding-top: 50%;  /* initial ratio of 1:1*/
}

.form-box {
  background-color: $brand-color;
  padding: 20px;
  color: $dark;
}


.path-box {
  background-color: $grey;
  border: 1px solid $green;
  a {
    display: block;
    color: $dark;
    border-radius: 1px;
    font-family: $base-font;
    font-weight: 300;
    font-size: 15px;
  }
  a:hover {
    color: $dark;
    text-decoration: none;
  }
}

.path-box:hover {
  background-color: $green;

.box80px {
  height:80px;
}

.box120px {
  height:120px;
}

.box160px {
  height:160px;
}

.box270px {
  height:270px;
>>>>>>> master
}
