.box {
  min-height: 100px;
  width:100%;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;

  box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
  border-radius: 1px;
  background-color:white;

  background-size: cover !important;
  background-position:bottom;

  position: relative;
  align-items: center;
  justify-content: center;
  text-align:center;
}

.box_link {
  height:100%;
  width:100%;
  text-align:right;
  a {
    background-color: rgba(1,1,1,0);
    color:rgba(1,1,1,0);
    border-radius: 1px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    top: 0px;
    right: 0px;
  }
  a:hover {
    color:rgba(1,1,1,1);
    background-color: rgba(1,1,1,0.4);
  }
  .fa {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}

.box_empty{
  position: absolute;
  bottom: 0px;
  left: 0px;
  top: 0px;
  right: 0px;
  padding:3px;
  background-color: rgba(222,222,222,1);
  text-align:center;
}

.box_ratio_1_1{
  position: relative;
  width: 100%; /* desired width */
  .content_box {
    position: absolute;
    bottom: 0px;
    left: 0px;
    top: 0px;
    right: 0px;
    padding:3px;
  }
}

.box_ratio_1_1:before{
  content: "";
  display: block;
  padding-top: 100%;  /* initial ratio of 1:1*/
}

.box_ratio_1_2{
  position: relative;
  width: 100%;   /* desired width */
  .content_box {
    position: absolute;
    bottom: 0px;
    left: 0px;
    top: 0px;
    right: 0px;
    padding:3px;
  }
}

.box_ratio_1_2:before{
  content: "";
  display: block;
  padding-top: 50%;  /* initial ratio of 1:1*/
}

