.btn-crew-deck {
  width: 150px;
  height: 75px;
  background-color: $dark;
  padding-top: 25px;
  margin-top: 25px;
  a {
  color: white;
  font-family: $header-font;
  font-size: 20px;
  }
}

.btn-crew-deck:hover {
  background-color: $brand-color;
  a {
  color: $dark;
  text-decoration: none,
  }
}

.btn-primary {
  background-color: $brand-color;
  color: white;
  border-style: none;
  margin: 0;
  padding-right: 20px;
}

.btn-primary:hover {
  background-color: $brown;
  color: $brand-color;
}
