.log {
  width: 350px;
  background-color: $brand-color;
  padding: 20px;
  color: $dark;
}

.link{
  margin: 15px;
  padding-bottom: 30px;
}

.form-actions {
  margin-top: 20px;
}

.login-title {
  color: $dark;
  font-family: $header-font;
}
