// Place all the styles related to the packers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.hune {
color: red;
}

.size {
  width: 400px;
  margin-bottom: 50px;
 }

.si {
 // width:400px;
 // padding: 30px;
  padding-top: 13px;

 }

.row_bottom {
  margin-bottom: 70px;
 }

.form-actionss {
  color: #088A29;
}
