<h1>Educations#edit</h1>
<p>Find me in app/views/educations/edit.html.erb</p>



<div class="container">
  <div class ="intro">
    <h1>Hi, <%= current_user.first_name %> ! </h1></br>
    <h5>Editing education here</h5>
  </div>


    <%= render 'form' %>


</div>
