<h1>Educations#edit</h1>
<p>Find me in app/views/educations/edit.html.erb</p>



<div class="container nest_form">
  <div class ="intro">
    <h1>Hi <%= current_user.first_name %> ! </h1></br>
    <p>Editing education here</p>
  </div>


    <%= render 'form' %>


</div>
